{%- for vrf  in vrfs %}
vrf definition {{ vrf.name }}
 rd {{ vrf.rd }}
{%- if vrf.ipv4_enabled %}
!
address-family ipv4
 route-target export {{ vrf.rd }}
 route-target import {{ vrf.rd }}
exit-address-family
!
{%- endif %}
{%- if vrf.ipv6_enabled %}
!
address-family ipv6
 route-target export {{ vrf.rd }}
 route-target import {{ vrf.rd }}
exit-address-family
!
{%- endif %}
{%- endfor %}
